.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
}
.message_user {
  margin-left: auto;
  color: white;
  text-align: right !important;
}
.message_useCard {
  background-color: cornflowerblue !important;
}
.message_guestCard {
  background-color: whitesmoke !important;
}
.app_form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: whitesmoke;
  width: 90%;
  margin: 20px;
}
.app_formControl {
  display: flex !important;
  flex-direction: row;
}
.app_iconButton {
  flex: 0;
}
.app_input {
  flex: 1;
}